lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
._*

pids
logs
results
node_modules
plexi_modules
workspace
download
mongodb
data

npm-debug.log
apache-tomcat-8.0.15/logs/*
apache-tomcat-8.0.15/work/*
apache-tomcat-8.0.15/conf/Catalina/localhost/*
