.DS_Store
.git*
.idea
.project
Makefile
docs/
examples/
inbrowser/
support/
test/
build/
plexi_modules/
workspace/
logs/
mongodb/
download/
data/

apache-tomcat-8.0.15/logs/*.log
apache-tomcat-8.0.15/logs/*.out
apache-tomcat-8.0.15/logs/*.txt
apache-tomcat-8.0.15/work/*
apache-tomcat-8.0.15/conf/Catalina/localhost/*.xml

